.footer__social.social
  ul.social__list
    +list("CV", "#")(class="social__item")
    +list("GitHub", "#")(class="social__item")
    +list("LinkedIn", "#")(class="social__item")

.footer__lang.lang    
  ul.social__list
      +list("Rus", "index_ru.html")(class="social__item")
      +list("Eng", "index_en.html")(class="social__item")
      +list("Pol", "index_pl.html")(class="social__item")