a.header__logo.logo(href="#") Nelli.
nav.header__nav.nav
  ul.nav__lists
    +list("About me", "index.html")(class="nav__item")
    +list("Portfolio", "portfolio.html")(class="nav__item")
    +list("Contacts", "contacts.html")(class="nav__item")
