h1.page__title Contacts

dl.main__contacts.contacts
  dt.contacts__term E-mail
    dd.contacts__def 
      a.contacts__mail(href="malto:nellinosovapl@gmail.com?subject=Portfolio_mail") nellinosovapl@gmail.com 
  dt.contacts__term Phone
    dd.contacts__def 
      dd.contacts__def 
        a.contacts__phone(href="tel:+48-796-991-348") +48-796-991-348
  dt.contacts__term Telegram
    dd.contacts__def 
      dd.contacts__def 
        a.contacts__phone(href="https://telegram.me/<@NelliNosova>") @NelliNosova