@mixin size ($width: 20px, $height: 20px) {
  width: $width;
  height: $height;
}

@mixin padding ($padding: 30px) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin zero {
  margin: 0;
  padding: 0;
}
