.project {
  position: relative;

  @media (min-width: $min-desktop) {
    width: 80%;
    margin-left: auto;
  }
}

.project__back {
  display: block;
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: $basic-grey;

  @media (min-width: $min-tablet) {
    margin-top: 40px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 55px;
  }

  &:hover,
  &:focus {
    color: $basic-accent;
  }

  &:hover path,
  &:focus path {
    fill: $basic-accent;
  }

  &:active {
    opacity: 0.4;
  }
}

.project__previous-svg {
  transform: rotate(180deg);
}

.project__title {
  @include zero;
  margin-top: 30px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: $basic-accent;

  @media (min-width: $min-tablet) {
    margin-top: 50px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 60px;
  }
}

.project__content {
  @include zero;
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: $basic-grey;

  @media (min-width: $min-tablet) {
    margin-top: 40px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 55px;
  }
}

.project__img-box {
  margin-top: 20px;

  @media (min-width: $min-tablet) {
    margin-top: 40px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 55px;
  }
}

.project__full {
  margin-top: 20px;

  @media (min-width: $min-tablet) {
    margin-top: 40px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 55px;
  }
}

.project__next {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  text-decoration-line: underline;
  color: $basic-white;
  cursor: pointer;

  @media (min-width: $min-tablet) {
    margin-top: 40px;
    font-size: 30px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 55px;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration-color: $basic-accent;
  }

  &:hover path,
  &:focus path {
    fill: $basic-accent;
  }

  &:active {
    color: $basic-accent;
    opacity: 0.4;
  }
}

.project__next-svg {
  margin-left: 20px;
}

.project__other {
  margin-top: 30px;

  @media (min-width: $min-tablet) {
    margin-top: 40px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 65px;
  }
}
