.social {
  @media (min-width: $min-tablet) {
    position: absolute;
    top: 55px;
    right: 30px;
  }

  @media (min-width: $min-desktop) {
    right: 60px;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
  max-width: 160px;
}

.social__item {
  transition-duration: 0.5s;
}

.social__item:hover rect,
.social__item:focus rect,
.social__item:hover path,
.social__item:focus path {
  stroke: $basic-accent;
}
