html(lang="en")
    include includes/setup/mixin
    head
        include includes/setup/head

    body.page 
        header.page__header.header
            include includes/header

        main.page__main.main
            include includes/main-contacts  

        footer.page__footer.footer    
            include includes/footer 