html(lang="en")
    include includes/setup/mixin
    head
        include includes/setup/head

    body.page 
        header.page__header.header
            include includes/header
            

        main.page__main.main
            include includes/about   

        footer.page__footer.footer    
            include includes/footer 

        img(src='./assets/img/gulp-logo.png')

        .icons

            .icon
                svg
                    use(xlink:href="./assets/sprites/sprites-colored/sprites.svg#shell")
            .icon
                svg
                    use(xlink:href="./assets/sprites/sprites-solid/sprites.svg#shell")
